### Gradle template
.gradle
build/
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

### JetBrains template
*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules/

### Autosave files
*~
\#*\#


### OSX template
*.DS_Store
